################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/__vm
/CFAF240320A0-024SN.vcxproj.user
/CFAF240320A0-024SN.vcxproj.filters
/CFAF240320A0-024SN.vcxproj
/Debug
/Release
